


@import "tailwindcss";
     
     
    @font-face {
  font-family: 'AvantGrade';
  src: url('./assets/fonts/AvantGrade.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
.heading{
    font-family: 'AvantGrade', sans-serif;
}

    .slide {
      transition: transform 0.5s ease-in-out;
    }
     .icon-svg {
    transition: fill 0.3s ease;
  }

#mainNavbar {
  transition: all 0.8s cubic-bezier(0.4, 0, 0.2, 1); /* smoother easing */
}

#mainNavbar.fixed {
  animation: fadeInDown 0.8s ease-out; /* optional fade-in */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
