


@import "tailwindcss";
     
     
    @font-face {
  font-family: 'AvantGrade';
  src: url('./assets/fonts/AvantGrade.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}
.heading{
    font-family: 'AvantGrade', sans-serif;
}